body {
    padding-top: 50px;
}

.header {
    background: url('/static/single_pages/images/img3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
