{% extends 'mall/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{product.name}}
{% endblock %}

{% block main_area %}
<!-- Page content-->
<!-- Product content-->
                    <div class="card px-5" id="product-area">
                        {% if product.product_image %}
                        <!-- Preview image figure-->
                        <img class="card-img-top" src="{{product.product_image.url}}" alt="{{product.name}}" />
                        {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="{{product.name}}" />
                        {% endif %}
                        <!-- product detail -->
                        <div class="card-body mb-4">
                            {% if user.is_authenticated and user == product.author %}
                                <a class="btn btn-secondary btn-sm float-right" href="/mall/update_product/{{product.pk}}/" role="button">
                                    <i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Product
                                </a>
                            {% endif %}
                            <!-- category -->
                            <div class="h2 pb-4">
                              {% if product.category %}
                              <span class="badge bg-info text-light">{{product.category}}</span>
                              {% else %}
                              <span class="badge bg-info text-light">미분류</span>
                              {% endif %}
                            </div>
                            <h1 class="fw-bolder mb-3"><strong>{{product.name}}</strong></h1>
                            <p class="h4 text-right text-info mb-5">{{product.price}}원</p>
                            <p class="h5 mb-5">{{product.get_content_markdown | safe}}</p>
                            <h3 class="font-weight-bold text-muted mt-4 mb-3">상세 정보</h3>
                            <p class="h5">Color : {{product.product_color}}</p>
                            <p class="h5">Size : {{product.product_size}}</p>
                        </div>

                    </div>
                    <!-- Comments section-->
                    <div class="my-5" id="comment-area">
                        <div class="card bg-light mb-5">
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                <!-- Comment form-->
                                <form id="comment-form" method="POST" action="{{product.get_absolute_url}}new_comment/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{comment_form | crispy}}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                {% else %}
                                <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if product.comment_set.exists %}
                            {% for comment in product.comment_set.iterator %}
                                <!-- Single comment-->
                                <div class="media mb-4" id="comment-{{comment.pk}}">
                                    <img class="d-flex rounded-circle mr-3" src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="60px" />
                                    <div class="media-body">
                                        {% if user.is_authenticated and comment.author == user %}
                                        <div class="float-right">
                                            <a role="button" class="btn btn-sm btn-info" id="comment-{{comment.pk}}-update-btn" href="/mall/update_comment/{{comment.pk}}/">
                                                edit
                                            </a>
                                            <a role="button" class="btn btn-sm btn-danger" id="comment-{{comment.pk}}-delete-btn" href="#"
                                                data-toggle="modal" data-target="#deleteCommentModal-{{comment.pk}}">
                                                delete
                                            </a>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="deleteCommentModal-{{comment.pk}}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id=deleteModalLabel">삭제하시겠습니까?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{comment | linebreaks}}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <a role="button" class="btn btn-danger" href="/mall/delete_comment/{{comment.pk}}/">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {% endif %}
                                        <div class="mt-0">
                                            <strong class="h5">{{comment.author}} &nbsp;&nbsp;&nbsp;</strong>
                                            <small class="text-muted">{{comment.created_at}}</small>
                                        </div>
                                        <p>{{comment.content | linebreaks}}</p>
                                        {% if comment.created_at != comment.modified_at %}
                                            <p class="text-muted float-right"><small>Updated: {{comment.modified_at}}</small></p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
{% endblock %}