{% extends 'mall/base.html' %}


        {% block main_area %}
        <h1 class="mb-4">Product {% if category %}<span class="badge badge-secondary ml-3">{{category}}</span>{% endif %}</h1>
          <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
              {% if product_list %}
              {% for p in product_list %}
              <div class="col mb-3">
                  <div class="card h-100 mb-3" id="product-{{p.pk}}">
                      <div class="h4 mr-3 mt-3">
                          {% if p.category %}
                          <span class="badge bg-info text-light float-right">{{p.category}}</span>
                          {% else %}
                          <span class="badge bg-info text-light float-right">미분류</span>
                          {% endif %}
                      </div>
                      {% if p.product_image %}
                      <!-- Product image-->
                      <a href="{{p.get_absolute_url}}"><img class="card-img-top"src="{{p.product_image.url}}" alt="{{p.name}}"/></a>
                      {% else %}
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"/>
                      {% endif %}

                      <!-- Product details-->
                      <div class="card-body mb-3">
                          <div>
                              <!-- Product name-->
                              <h3>
                                  <a href="{{p.get_absolute_url}}" class="text-reset">
                                      {{p.name}}
                                  </a>
                              </h3>
                              <!-- Product price-->
                              <p class=" h5 font-weight-bold">{{p.price}} 원</p>
                              <p class="card-text pt-4">{{p.content | truncatewords:8}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              {% else %}
              <h3>아직 상품이 없습니다.</h3>
              {% endif %}
          </div>
          <!-- Pagination-->
          <ul class="pagination justify-content-center my-4">
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
              <li class="page-item"><a class="page-link" href="#!">Older &rarr;</a></li>
          </ul>
        {% endblock %}
