{% extends 'mall/base.html' %}


        {% block main_area %}
          <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-2 justify-content-center">
              {% if product_list %}
              {% for p in product_list %}
              <div class="col mb-3">
                  <div class="card h-100" id="product-{{p.pk}}">
                      {% if p.product_image %}
                      <!-- Product image-->
                      <img class="card-img-top" src="{{p.product_image.url}}" alt="{{p.name}}" />
                      {% else %}
                      <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"/>
                      {% endif %}
                      <div class="ml-3">
                          {% if p.category %}
                          <span class="badge bg-info text-light">{{p.category}}</span>
                          {% else %}
                          <span class="badge bg-info text-light">미분류</span>
                          {% endif %}
                      </div>
                      <!-- Product details-->
                      <div class="card-body mb-3">
                          <div class="text-center">
                              <!-- Product name-->
                              <h4>
                                  <a href="{{p.get_absolute_url}}" class="text-reset">
                                      <strong>{{p.name}}</strong>
                                  </a>
                              </h4>
                              <!-- Product price-->
                              <p class="font-weight-bold">{{p.price}} 원</p>
                              <p class="card-text">{{p.content | truncatewords:8}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              {% else %}
              <h3>아직 상품이 없습니다.</h3>
              {% endif %}
          </div>
          <!-- Pagination-->
          <ul class="pagination justify-content-center my-4">
              <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
              <li class="page-item"><a class="page-link" href="#!">Older &rarr;</a></li>
          </ul>
        {% endblock %}
