{% extends 'mall/base.html' %}

{% block head_title %}
    {{product.name}}
{% endblock %}

{% block main_area %}
<!-- Page content-->
<!-- Product content-->
                    <div class="card px-5" id="product-area">
                        {% if product.product_image %}
                        <!-- Preview image figure-->
                        <img class="card-img-top" src="{{product.product_image.url}}" alt="{{product.name}}" />
                        {% else %}
                        <img class="icard-img-top" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="{{product.name}}" />
                        {% endif %}
                        <!-- product detail -->
                        <div class="card-body mb-4">
                            {% if user.is_authenticated and user == product.author %}
                                <a class="btn btn-secondary btn-sm float-right" href="/mall/update_product/{{product.pk}}/" role="button">
                                    <i class="fas fa-pen"></i>&nbsp;&nbsp;Edit Product
                                </a>
                            {% endif %}
                            <!-- category -->
                            <div class="h2 pb-4">
                              {% if product.category %}
                              <span class="badge bg-info text-light">{{product.category}}</span>
                              {% else %}
                              <span class="badge bg-info text-light">미분류</span>
                              {% endif %}
                            </div>
                            <h1 class="fw-bolder mb-3"><strong>{{product.name}}</strong></h1>
                            <p class="h4 text-right text-info mb-5">{{product.price}}원</p>
                            <p class="h5 mb-5">{{product.content}}</p>
                            <h3 class="font-weight-bold text-muted mt-4 mb-3">상세 정보</h3>
                            <p class="h5">Color : {{product.product_color}}</p>
                            <p class="h5">Size : {{product.product_size}}</p>
                        </div>

                    </div>
                    <!-- Comments section-->
                    <div class="mb-5" id="comment-area">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}